<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>ToS;DR (xMartin)</string>
	<key>Builder Version</key>
	<string>8536.30.1</string>
	<key>CFBundleDisplayName</key>
	<string>Terms of Service; Didn‘t Read</string>
	<key>CFBundleIdentifier</key>
	<string>info.tos-dr</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.2.1</string>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Popovers</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>popup.html</string>
				<key>Height</key>
				<real>480</real>
				<key>Identifier</key>
				<string>popover</string>
				<key>Width</key>
				<real>550</real>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string></string>
				<key>Identifier</key>
				<string>tos button</string>
				<key>Image</key>
				<string>icons/none.png</string>
				<key>Label</key>
				<string>Terms of Service</string>
				<key>Palette Label</key>
				<string></string>
				<key>Popover</key>
				<string>popover</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict/>
	</dict>
	<key>Description</key>
	<string>“I have read the Terms” is the biggest lie on the web. Get informed instantly about terms &amp; privacy policies, with ratings from tosdr.org</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://safariextension.tosdr.org/update-manifest.plist</string>
	<key>Website</key>
	<string>http://tosdr.org/</string>
</dict>
</plist>
